{
  "DestroyLobbyWhenHostLeaves": true,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": false,
  "ClientsCanRefreshObjects": false,
  "ClientsCanDestroyObjects": false,
  "UpdateRate": 30,
  "__guid": "e85a1641-32d3-4fcb-8f3e-f523318566c3",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}
